.header {
  background-color: #CD7F32;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  height: 20vh;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #CD7F32;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #CD7F32;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #f4f4f4;
  padding: 30px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 5px 5px;
  text-decoration: none;
  height: 90px;
}

.header .logo img {
  width: 20vh;
  height: 40vh;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

header .menu-icon .nav-icon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 300px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 10px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


@media screen and (max-width: 960px) {
  .header {
    background-color: #CD7F32;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    height: 20vh;
    z-index: 3;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #F3E5AB;
    font-size: 30px;


  }
  header .logo {
    display: block;
    margin-left: 90px;
    margin-bottom: 10px;
    font-size: 2em;
    padding: 2px 2px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header .logo {
    width: 20vh;
    height: 25vh;
    margin-left: 10px;
    margin-left: -10px;
  }
  
}